h1, p {
    font-family: sans-serif;
    color: #4F3B3D;
    margin-bottom: 0.5em;
}
h1 {

    font-size: 3em;


}
main {
    position: absolute;
    z-index: 10;
    margin: 5em;
    border: 1px solid;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 10px 5px 5px #CFB29C;
    max-width: 600px;
    /* background-color: #CFB29C */
    border-color: #4F3B3D;
}
.socialicon {
    width: 4em;
    margin-top: 0.5em;
}
.socialicon:hover{
    opacity: 0.8;
}
#sketch {
    position: absolute;
    z-index: -1;
    width: 100vw; height: 100vh;
}