h1, p {
    font-family: sans-serif;
}
main {
    margin: 5em;
    border: 1px solid;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 10px 5px 5px purple;
    max-width: 600px;
}
.socialicon {
    width: 4em;
}
.socialicon:hover{
    opacity: 0.8;
}